#watch{
    color: white;
    padding: 30px 0;
    line-height: 1.5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


details{cursor: pointer;}
details[open] summary ~ *{
    cursor: pointer;
    transition: .2s ease-in;
    animation:sweep .5s ease-in-out;
}
details summary::before{content:"Show Description"}
details[open] summary::before{content:"Hide Description"}

#watchDescription textarea{
    resize: none;
    width: 100%;
    background-color: transparent;
    color: white;
    line-height: 1.5;
    border: none;
    font-size: 16px;
}

#watchTitle{
    font-size: 18px;
    word-break: break-all;
}

#watchDate{
    font-size: 14px;
    color: #aaaaaa;
    word-break: break-all;
}

#watch-container{ 
    width: 75%;
    padding: 20px;
}

#watchVideo{
    width: 100%;
    height: 100%;
}

#watchAuthor{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#watchAuthor img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#watchAuthor p{
    word-break: break-all;
    font-weight: bold;
}

#watchComments #commentsTitle{
    font-size: 24px;
    font-weight: bold;
}

#commentField{
    width: 100%;
    resize: none;
    background-color: #272727;
    color: white;
    line-height: 1.5;
    border: none;
    outline: none;
    padding: 10px;
}
#commentField::-webkit-scrollbar{
    width: 13px;
    height: 13px;
}
#commentField::-webkit-scrollbar-thumb{
    background: #CCCCCC;
    border-radius: 0px;
}
#commentField::-webkit-scrollbar-thumb:hover{
    background: #DBDBDB;
}
#commentField::-webkit-scrollbar-track{
    background: #272727;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

#watchComments input[type="submit"]{
    float: right;
    padding: 10px 15px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(54, 123, 212);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}

@media only screen and (max-width: 800px){
    #watch-container{
        width: 100%;
    }
}